<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar usuario</title>
</head>
<body>
<h1>Registrar usuario</h1>

<form th:object="${user}"
      method="post"
      th:action="@{/user}">
    <input type="text" placeholder="Usuario" th:field="*{username}" required>
    <input type="password" placeholder="Contraseña" th:field="*{password}" required>
    <button>Registrar</button>
</form>
<h5 th:text="${message}"></h5>

</body>
</html>
